

.day {
  text-align: center
}

#calendar-table {
  border: 1px solid black;
  font-size: 50px;
  margin-right: auto;
  margin-left: auto;
}

.weekday-row {
  background-color: #204567;
  color: #E3E7EA
}

.week-day{
  padding-left: 20px;
  padding-right: 20px
}

.blank-day {
  background-color: #CBD0D3
}